.routineview-container {
  background-color: rgb(238, 238, 238);
  margin: 1em auto;
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-auto-flow: column;
  min-height: 550px;
  gap: 0.2em;
  grid-template-columns: repeat(1fr);
}

@media (min-width: 768px) {
  .routineview-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .routineview-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .routineview-container {
    width: 1170px;
    grid-template-columns: repeat(0.5fr);
  }
}
