.routineview-container {
  background-color: rgb(238, 238, 238);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-auto-flow: column;
  /* grid-auto-columns: 1fr; */
  min-height: 500px;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fill, 1fr);
}

@media (min-width: 768px) {
  .routineview-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .routineview-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .routineview-container {
    width: 1170px;
  }
}
